.resize{
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width: 400px) {
  div.resize {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 601px) {
  div.resize {
    font-size: 30px !important;
  }
}

@media screen and (max-width:800px) {
  div.resize {
    font-size: 20px !important;
  }
}

@media screen and (max-width:500px) {
  div.resize {
    font-size: 10px !important;
  }
}
