.mid{
  text-align: center;
}

input{
  background-color: #f4f4f4;
  border: 1px solid black;
  outline-color: red !important;
}

.form-control:focus{
  outline-style: none !important;
  box-shadow: black;
}
