<form>
  <div class="form-group mid">
    <label for="usernameInput">Username</label>
    <input type="text" class="form-control" id="usernameInput" placeholder="Username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group mid">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
  <div class="form-group mid">
    <label for="confirmPasswordInput">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm Password">
  </div>
  <div class="form-group mid">
    <label for="emailInput">Email</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Email">
  </div>
  <div class="form-group mid">
    <label for="phoneNumberInput">PhoneNumber</label>
    <input type="text" class="form-control" id="phoneNumberInput" placeholder="Phone Number">
  </div>
  <div style="text-align: center; margin-top: 40px">
    <app-button>Register</app-button>
  </div>
</form>
