.mid{
  text-align: center;
}

.form-control{
  background-color: #f4f4f4;
  outline: none;
  border:1px solid #000000 !important;
}


.form-control:hover{
  border-color: #6c3a7f;
  box-shadow: 0 0 1rem 0.1rem rgba(139, 61, 158, 0.4);
}
.form-control:valid:focus{
  border-color: #6c3a7f;
  box-shadow: 0 0 1rem 0.1rem rgba(14, 191, 0, 0.4);
}
.form-control:invalid:focus{
  border-color: #6c3a7f;
  box-shadow: 0 0 1rem 0.1rem rgba(198, 15, 0, 0.4);
}
